html, body {
    margin: 0;
}

body {
    font-family: Poppins, sans-serif;
}

bold {
    font-weight: 600;
}

navbar {
    display: flex;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 60px;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.1);
    align-items: center;
}

.nav--logo {
    position: absolute;
    height: 50px;
    left: 15px;

    filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.08)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.hero {
    display: flex;
    flex-direction: column;
    padding-top: 14px;
}

.hero--photos {
    display: flex;
    align-self: center;
    width: 90%;
    max-width: 700px;
}

.hero--text {
    margin: 0;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}

.hero--text > h1 {
    margin: 0;
    padding-top: 18px;
    font-weight: 600;
    font-size: 40px;
}

.hero--text > p {
    margin: 0;
    padding-top: 5px;
    font-weight: 300;
    font-size: 20px;
    max-width: 350px;
}

.card-container {
    display: flex;
    justify-content: left;
    margin: 10px 0;
    overflow: scroll;
}

.card {
    position: relative;
    margin: 0;
    padding: 0 5px;
}

.card--image {
    min-width: 300px;
}

.card--badge {
    top: 10px;
    left: 15px;
    padding: 2px 5px;
    position: absolute;
    background-color: white;
    border-radius: 5px;
}

.rating {
    display: flex;
    justify-content: center;
}

.card--stats {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    font-weight: 300;
    font-size: 20px;
}

.rating > span {
    padding-right: 2px;
}

.review-count {
    color: rgba(0, 0, 0, 0.5);
}

.card--price {
    font-weight: 600;
}

.rating-image {
    height: 100%;
    max-width: 30px;
}

@media only screen and (min-width: 936px) {
    .card-container {
        justify-content: center;
    }
}