#grid {
    display: grid;
    margin: auto;
    grid-gap: 5px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(9, 1fr);
    height: 100vh;
}

.box {
    border-radius: 5px;
}

.glyphicon {
    font-size: 40px;
    padding-top: 10px;
}

#header {
    grid-column: 1 / 5;
    grid-row: 1 / 2;
    background-image: url("/img/header-photo.jpeg");
}

#header > h1 {
    font-size: 55px;
    font-weight: bold;
    color: black;
    font-family: 'Nunito', sans-serif;
    text-align: center;
}

#sidebar {
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    grid-column: 1 / 5;
    grid-row: 2 / 3;
    background-color: rgb(46, 229, 107);
}

#sidebar-content {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.5s;
    list-style-type: none;
    font-size: 30px;
    font-family: 'Nunito', sans-serif;
}

#sidebar-content > li > a {
    color: black;
    text-decoration: none;
}

#sidebar-content > li > a:hover {
    color: gray;
}

#sidebar:hover #sidebar-content,
#sidebar:focus #sidebar-content,
#sidebar:focus-within #sidebar-content {
    max-height: 200px;
}

#main {
    grid-column: 1 / 5;
    grid-row: 3 / 8;
    background-color: rgb(197, 232, 41);    
}

#content {
    grid-column: 1 / 5;
    grid-row: 8 / 9;
    background-color: rgb(225, 96, 41);
}

#footer {
    grid-column: 1 / 5; 
    grid-row: 9 / 10;
    background-color: rgb(241, 30, 177);
}