#grid {
    display: grid;
    grid-template-columns: 15% 85%;
    grid-template-rows: 10% 90%;
    height: 98vh;
}

#header {
    display: grid;
    grid-column: 2 / 3;
    justify-content: center;
}

#todo-form {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    margin-left: 5px;
}

.input-style {
    width: 98%;
    height: 30px;
    padding: none;
    margin-top: 10px;
    border:silver solid 1px;
    border-radius: 3px;
}

.button-style {
    margin-top: 10px;
    display: block;
    background: rgb(192, 192, 192, 0.6);
    border: none;
    height: 30px;
    transition: background 0.3s;
    border-radius: 3px;
}

.button-style:hover {
    background: rgb(192, 192, 192, 0.9);
}

.form-button {
    width: 100%;
}

.delete-button {
    margin-top: 80px;
    height: 30px;
}

#todo-list {
    display: grid;
    grid-row: 2 / 3;
    list-style: none;
    overflow: scroll;
}

.list-style {
    display: flex;
}

.list-style > input[type=checkbox] {
    margin-right: 30px;
    margin-top: 80px;
    height: 30px;
    width: 30px;
}

.completed {
    text-decoration: line-through;
}